*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
}
#quadro{
    width: 30vw;
    background-color: blueviolet;
    float: left;
    margin: 2vw auto auto 33vw;
    padding: 2vw;
}
p{
    text-align: center;
}
textarea{
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
